{% load thumbnail %}
{% load markup %}
{% if obj.cartoon %}

<img src="http://the-fu.com{% thumbnail obj.image 500x30000 %}" width="500" alt="" />

{% else %}

{% if obj.image %}
<img src="http://the-fu.com{% thumbnail obj.image 400x500 crop %}" width="400" height="500" alt="" />
{% endif %}

<p>{{ obj.lede|markdown }}</p>

{{ obj.content|markdown }}

{% endif %}

<div id="byline">
<div class="article-thumb">
<img src="http://the-fu.com{% thumbnail obj.author.headshot 65x65 crop,upscale %}"
     width="65" height="65" />
</div>
<p>{{ obj.author.fullname}}</p>
</div>
