{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block title %}about{% endblock %}
{% block masthead %}about{% endblock %}
{% block content %}

<h2 id="about-header"><span>ABOUT</span></h2>

<div id="bodytext">
<p>The FU is a monthly online magazine, written by young professionals
  and thinkers from around the world.
</p>
<p>As our motto ‘<i>game-plans for dreamers</i>’ suggests, this
  publication is about guiding other imaginative people towards making
  their imaginings reality – with a combination of shared hopes, ideas
  and opinions, followed by concrete advice about how to do something
  with the topic being discussed.
</p>
<p>Our philosophy is <i>Informed Idealism</i>. This means
  firstly, <u>understanding</u> the small print behind big dreams –
  and secondly, <u>believing</u> that the future is bright… because we
  will make it so.

</p>
</div>

<div class="clear"></div>

{% endblock %}
