{% extends "admin_base.html" %}
{% load markup %}
{% load thumbnail %}
{% block title %}admin index{% endblock %}
{% block js %}
<script type="text/javascript" src="/site_media/js/mochikit/MochiKit/MochiKit.js"></script>
<script type="text/javascript" src="/site_media/js/dragdropreorder.js"></script>
{% endblock %}
{% block content %}

<form action="publish/" method="post" enctype="multipart/form-encode">
<table width="100%">
<tr><th colspan="2">Issue {{ issue.number }}: {{ issue.name }}, {{ issue.pub_date }}</th></tr>
<tr><td colspan="2">
<p>For now, use the old admin interface to <a href="/admin/fu/issue/{{issue.id}}/">edit this issue</a> if necessary</p>

</td></tr>

{% ifequal issue.status "draft" %}
{% if issue.banner %}
<tr>
<th>publish</th>
<td>publish this issue, making it the new current issue:<br />

<input type="submit" name="publish" value="Publish!" />
</td>
</tr>
{% endif %}
{% endifequal %}
</table>
</form>

<h2>articles</h2>
<form action="edit_tags/" method="post">
<table width="100%" id="article-table">
<tr><th></th><th>article</th><th>author</th><th>tags</th></tr>
{% for article in issue.all_articles %}
<tr class="draggable" id="article-{{article.id}}">
<td><span class="atype">
{% ifequal article.atype "article" %}A{% endifequal %}
{% ifequal article.atype "editorial" %}E{% endifequal %}
{% ifequal article.atype "photos" %}P{% endifequal %}
{% ifequal article.atype "cartoon" %}C{% endifequal %}</span>
</td>
<td><a href="/admin/fu/article/{{article.id}}/">{{ article.headline }}</a></td>
<td><nobr><a href="/admin/fu/author/{{ article.author.id}}/">{{ article.author }}</a></nobr></td>
<td><input type="text" style="width: 100%" name="tags-{{article.id}}" value="{{ article.tags_string }}" /></td>
</tr>
{% endfor %}
</table>
<input type="submit" value="save" />
</form>

{% endblock %}
