{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block title %}archives{% endblock %}
{% block masthead %}archives{% endblock %}
{% block bodyclass %}Archives{% endblock %}
{% block content %}


{% if only_one %}
<p>Coming Soon...</p>
{% else %}
<div id="archives">
{% for issue in issues %}
<div class="archive-issue">
<h3><nobr><a href="{{issue.get_absolute_url}}">Issue {{ issue.number }}: {{ issue.name }}</a></nobr></h3>

<a href="{{issue.get_absolute_url}}" class="img"><img border="0" src="{% thumbnail issue.main_article.image 100x100 crop %}"
					  width="100" height="100" class="archive-thumb"
					  alt="" /></a><br />
<div><a href="{{ issue.get_absolute_url }}">All {{ issue.name|upper }} articles</a></div>

</div>

{% endfor %}
</div>
{% endif %}



<div class="clear"></div>

{% endblock %}
