{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block title %}{{ article.headline }}{% endblock %}
{% block css %}
<style type="text/css">
h1#masthead { background: url({% thumbnail article.issue.banner 900x129 crop %}) !important;
}
</style>
{% endblock %}

{% block bodyclass %}article{% endblock %}
{% block masthead %}{{ article.headline }}{% endblock %}
{% block content %}


<div id="faux">
<div id="main">

{% if article.is_cartoon %}
<h2 class="cartoon">{{ article.headline }}</h2>
{% else %}
<h2>{{ article.headline }}</h2>
{% endif %}

<div id="byline">
<div class="article-thumb">
<a href="/team/{{ article.author.first_name }}_{{ article.author.last_name }}/"><img src="{% thumbnail article.author.headshot 65x65 crop,upscale %}"
     width="65" height="65" /></a>
</div>
<p><a href="/team/{{ article.author.first_name }}_{{ article.author.last_name }}/">{{ article.author.fullname}}</a></p>
</div>
<div class="clear"></div>


{% if article.is_cartoon %}

{% thumbnail article.image 650x30000 as cartoonimg %}
<img src="{{ cartoonimg.absolute_url }}" width="{{ cartoonimg.width }}" alt="{{ cartoonimg.height }}" />
<div class="blurb">
{% if article.content %}
{{ article.content|markdown }}
{% endif %}
</div>


{% else %}

{% if article.image %}
<div class="article-thumb">
<img src="{% thumbnail article.image 200x200 crop %}"
     width="200"
     height="200"
     alt=""
     />
{% if article.source %}
<div class="image-source">{{ article.source }}</div>
{% endif %}
</div>
{% endif %}

{% if article.lede %}<p class="lede">{{ article.lede}}</p>{% endif %}

{{ article.content|markdown }}

{% endif %}


{% if article.tags.all %}
<hr />

<div id="tags">Tags:
{% for tag in article.tags.all %}

<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
{% if not forloop.last %} / {% endif %}
{% endfor %}
</div>
{% endif %}

<hr />

<a title="post to delicious" href="http://del.icio.us/post?url=http://the-fu.com{{article.get_absolute_url|urlencode}}&amp;title={{article.headline|urlencode}}"><img src="http://images.del.icio.us/static/img/delicious.small.gif"
									border="0"									  
																		  
			 width="10" height="10" alt="add to delicious"
   /></a>

<a href="http://reddit.com/submit?url=http://the-fu.com{{article.get_absolute_url|urlencode}}&amp;title={{article.headline|urlencode}}"
   title="post to reddit"><img src="http://static.reddit.com/blog_head.png"
   height="16" width="16" border="0" /></a>

<a title="digg it" href="http://digg.com/submit?phase=2&url=http://the-fu.com{{article.get_absolute_url|urlencode}}&amp;title={{article.headline|urlencode}}"><img src="http://digg.com/img/badges/16x16-digg-guy.gif"
																		   width="16"
																		   height="16"
																		   border="0"
																		   alt="digg this"/></a>

<hr />

<div id="comments">
{% if not article.approved_comments %}
{% else %}
<h3>comments</h3>
{% for comment in article.approved_comments %}

<div class="comment" id="comment-{{ comment.id }}">
<div class="comment-byline">
{% if comment.url %}
<a href="{{ comment.url }}">{{ comment.name }}</a>
{% else %}
{{ comment.name }}
{% endif %}
 at <i>{{ comment.timestamp|date:"D d M Y H:i:s" }}</i>
</div>

{{ comment.content|markdown:"safe" }}

</div>
{% endfor %}
{% endif %}
</div>

<div id="comment-form">
<form action="{{ article.get_absolute_url }}add_comment/"
      method="post" onsubmit="return commentSubmit()">

<textarea name="content" id="comment-textarea"></textarea><br />
<p style="font-size: .8em;">formatting is
  with <a
	  href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>
  syntax.</p>
<table>
<tr><th>name</th><td><input type="text" name="name" id="comment-name"/></td><td>required</td></tr>
<tr><th>email</th><td><input type="text" name="email" id="comment-email"/></td><td>required</td></tr>
<tr><th>url</th><td><input type="text" name="url" id="comment-url"/></td><td></td></tr>
<tr><th></th><td><input type="checkbox" checked="checked"
				 name="remember" id="comment-remember"
				 />
remember info?
</td><td></td></tr>
</table><br />
<input type="submit" value="add comment" />
</form>
</div>
<div class="clear"></div>


</div>




<div id="sidebar">

<h2 class="sidebar-main">In This Issue</h2>

{% if article.issue.articles %}<h3>Articles:</h3>
{% for article in article.issue.articles %}

<div class="article">
<div class="article-thumb">
{% thumbnail article.author.headshot 65x65 crop,bw,upscale as bwheadshot %}
{% thumbnail article.author.headshot 65x65 crop,upscale as colorheadshot %}
<a href="{{ article.get_absolute_url }}"><img src="{{ bwheadshot }}" 
onmouseover="this.src = '{{colorheadshot}}'" 
onmouseout="this.src = '{{ bwheadshot }}'"
width="65" height="65" border="0" /></a>
</div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>
{% endfor %}{% endif %}

{% if article.issue.videos %}<h3>Videos:</h3>
{% for article in article.issue.videos %}

<div class="article">
<div class="article-thumb">
{% thumbnail article.author.headshot 65x65 crop,bw,upscale as bwheadshot %}
{% thumbnail article.author.headshot 65x65 crop,upscale as colorheadshot %}
<a href="{{ article.get_absolute_url }}"><img src="{{ bwheadshot }}" 
onmouseover="this.src = '{{colorheadshot}}'" 
onmouseout="this.src = '{{ bwheadshot }}'"
width="65" height="65" border="0" /></a>
</div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>
{% endfor %}{% endif %}

{% if article.issue.photos %}<h3>Photography:</h3>
{% for article in article.issue.photos %}

<div class="article">
<div class="article-thumb">
{% thumbnail article.author.headshot 65x65 crop,bw,upscale as bwheadshot %}
{% thumbnail article.author.headshot 65x65 crop,upscale as colorheadshot %}
<a href="{{ article.get_absolute_url }}"><img src="{{ bwheadshot }}" 
onmouseover="this.src = '{{colorheadshot}}'" 
onmouseout="this.src = '{{ bwheadshot }}'"
width="65" height="65" border="0" /></a>
</div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>
{% endfor %}{% endif %}


{% if article.issue.cartoons %}<h3>Cartoons:</h3>
{% for article in article.issue.cartoons %}

<div class="article">
<div class="article-thumb">
{% thumbnail article.author.headshot 65x65 crop,bw,upscale as bwheadshot %}
{% thumbnail article.author.headshot 65x65 crop,upscale as colorheadshot %}
<a href="{{ article.get_absolute_url }}"><img src="{{ bwheadshot }}" 
onmouseover="this.src = '{{colorheadshot}}'" 
onmouseout="this.src = '{{ bwheadshot }}'"
width="65" height="65" border="0" /></a>
</div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>
{% endfor %}{% endif %}



<h3>Tag cloud</h3>
<div id="tag-cloud">
{% for tag in tag_cloud %}
<a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>
{% if not forloop.last %} / {% endif %}
{% endfor %}
</div>

<div id="clear"></div>



</div>
</div>

{% endblock %}
