{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block title %}{{ article.headline }}{% endblock %}
{% block bodyclass %}article{% endblock %}
{% block masthead %}{{ article.headline }}{% endblock %}

{% block content %}

{% if article.cartoon %}

<img src="{% thumbnail article.image 850x30000 %}" width="850" alt="" />

{% else %}
<div id="faux">
<div id="main">

<h2>{{ article.headline }}</h2>
{% if article.image %}
<div class="article-thumb">
<img src="{% thumbnail article.image 200x200 crop %}"
     width="200"
     height="200"
     alt=""
     /></div>
{% endif %}

{% if article.lede %}<p class="lede">{{ article.lede}}</p>{% endif %}

{{ article.content|markdown }}

{% endif %}

<div id="byline">
<div class="article-thumb">
<img src="{% thumbnail article.author.headshot 65x65 crop,upscale %}"
     width="65" height="65" />
</div>
<p>{{ article.author.fullname}}</p>
</div>


{% if not article.cartoon %}
</div>

<div id="sidebar">

<h2 class="sidebar-main">In This Issue</h2>

{% for article in article.issue.non_main_articles %}

<div class="article">
<div class="article-thumb">
{% thumbnail article.author.headshot 65x65 crop,bw,upscale as bwheadshot %}
{% thumbnail article.author.headshot 65x65 crop,upscale as colorheadshot %}
<a href="{{ article.get_absolute_url }}"><img src="{{ bwheadshot }}" 
onmouseover="this.src = '{{colorheadshot}}'" 
onmouseout="this.src = '{{ bwheadshot }}'"
width="65" height="65" border="0" /></a>
</div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>


{% endfor %}

<div id="clear"></div>



</div>
</div>
{% endif %}
{% endblock %}
