<html>
<head><title>the-fu.com (gameplans for dreamers): {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
@import "/site_media/css/site.css" ;
</style>
<script type="text/javascript" src="/site_media/js/comments.js"></script>
{% block js %}{% endblock %}


<link href="/feeds/main/" type="application/atom+xml" rel="alternate" title="Atom feed the-fu.com" />

</head>
<body class="{% block bodyclass %}{% endblock %}">


<div id="wrapper">
<h1 id="masthead"><span>the-fu.com: {% block masthead %}{% endblock %}</span></h1>


<ul id="nav">
<li id="home-nav-link"><a href="/">Home</a></li>
<li id="about-nav-link"><a href="/about/">About</a></li> 
<li id="team-nav-link"><a href="/team/">Team</a></li> 
<li id="archives-nav-link"><a href="/archives/">Archives</a></li> 
<li id="links-nav-link"><a href="/links/">Links</a></li> 
<li id="contact-nav-link"><a href="/contact/">Contact</a></li>
</ul>

{% block content %}{% endblock %}

<div id="definition">
<span><b>Definition of <span class="gold">FU</span></b>: <b>1.</b> Chinese word for luck or good
fortune. <b>2.</b> Abbreviation of <span class="gold">FU</span>ture - a unanimous hope for
society. <b>3.</b> Acronym for a well-known expletive, used primarily during
differences of opinion.</span>
</div>

<div id="footer">
<div id="credits">Site Design: <b>Sarah Wefald</b>, Banner
  graphics: <b>Saleem Reshamwala</b>, Backend coding and
  sysadmin: <b>Anders Pearson</b></div>
<div id="feedlink"><a
   href="/feeds/main/"><img
   src="http://mt.onikaverse.com/mt/mt-static/images/status_icons/feed.gif"
   alt="Subscribe to feed" height="9" width="9" border="0" />
   Subscribe to feed</a></div>
</div>
</div>
</body>
</html>
