<html>
<head><title>the-fu.com (gameplans for dreamers): {% block title %}{% endblock %}</title>

<style media="screen" type="text/css">
@import "/site_media/css/site.css" ;
</style>
{% block js %}{% endblock %}


<link href="/feeds/main/" type="application/atom+xml" rel="alternate" title="Atom feed the-fu.com" />

</head>
<body class="{% block bodyclass %}{% endblock %}">


<div id="wrapper">
<h1 id="masthead"><span>the-fu.com: {% block masthead %}{% endblock %}</span></h1>

<div id="definition">
<span><b>Definition of <span class="gold">FU</span></b>: <b>1.</b> Chinese word for luck or good
fortune. <b>2.</b> Abbreviation of <span class="gold">FU</span>ture - a unanimous hope for
society. <b>3.</b> Acronym for a well-known expletive, used primarily during
differences of opinion.</span>
</div>

<ul id="nav">
<li id="home-nav-link"><a href="/">Home</a></li>
<li id="about-nav-link"><a href="/about/">About</a></li> 
<li id="team-nav-link"><a href="/team/">Team</a></li> 
<li id="archives-nav-link"><a href="/archives/">Archives</a></li> 
<li id="links-nav-link"><a href="/links/">Links</a></li> 
<li id="contact-nav-link"><a href="/contact/">Contact</a></li>
</ul>

{% block content %}{% endblock %}


<div id="footer"></div>
</div>
</body>
</html>
