{% load markup %}
{% extends "base.html" %}

{% block content %}
<h1 id="masthead"><span>the-fu.com: {{ issue.pub_date }}</span></h1>

<ul id="nav">
<li>Home</li>
<li>About</li> 
<li>Roster</li> 
<li>Archives</li> 
<li>Links</li> 
<li>Contact</li>
</ul>

<div id="faux">
<div id="main">

<h2>{{ main_article.headline }}</h2>
<div class="article-thumb"><img src="/site_media/images/gray.png" width="200" height="200" alt="" /></div>

<p class="lede">{{ main_article.lede}}</p>

{{ main_article.content|markdown }}

<div id="byline">
<div class="article-thumb"><img src="/site_media/images/gray.png"
				width="75" height="75" /></div>
<p>by {{ main_article.author.fullname}}</p>
</div>
</div>

<div id="sidebar">
<p>In This Issue</p>

{% for article in issue.non_main_articles %}

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>


{% endfor %}

<div id="clear"></div>
</div>
</div>
{% endblock %}
