{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}


{% block content %}
<h1 id="masthead"><span>the-fu.com: {{ issue.pub_date }}</span></h1>

<ul id="nav">
<li><a href="/">Home</a></li>
<li><a href="/about/">About</a></li> 
<li><a href="/roster/">Roster</a></li> 
<li><a href="/archives/">Archives</a></li> 
<li><a href="/links/">Links</a></li> 
<li><a href="/contact/">Contact</a></li>
</ul>

<div id="faux">
<div id="main">

<h2>{{ main_article.headline }}</h2>
<div class="article-thumb"><img src="/site_media/images/gray.png" width="200" height="200" alt="" /></div>

<p class="lede">{{ main_article.lede}}</p>

{{ main_article.content|markdown }}

<div id="byline">
<div class="article-thumb">
<img src="{% thumbnail main_article.author.headshot 65x65 crop,upscale %}"
     width="65" height="65" />
</div>
<p>by {{ main_article.author.fullname}}</p>
</div>
</div>

<div id="sidebar">
<h2>In This Issue</h2>

{% for article in issue.non_main_articles %}

<div class="article">
<div class="article-thumb">
<img src="{% thumbnail article.author.headshot 65x65 crop,bw,upscale %}" width="65" height="65" />
</div>
<h2><a href="{{ article.get_absolute_url }}">{{ article.headline }}</a></h2>
<p>{{ article.author.fullname }}</p>
<div class="clear"></div>
</div>


{% endfor %}

<div id="clear"></div>
</div>
</div>
{% endblock %}
