{% extends "base.html" %}

{% block content %}
<h1 id="masthead">{{ issue.pub_date }}</h1>

<ul id="nav">
<li>Home</li>
<li>About</li> 
<li>Roster</li> 
<li>Archives</li> 
<li>Links</li> 
<li>Contact</li>
</ul>

<div id="faux">
<div id="main">

<h2>Headline</h2>
<div class="article-thumb"><img src="/site_media/images/gray.png" width="200" height="200" alt="" /></div>


<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque ligula diam, cursus luctus, rhoncus at, convallis vulputate, elit. Duis nunc lorem, ullamcorper sed, eleifend et, vehicula eu, nunc. Nunc ac metus. Integer in risus a elit tincidunt congue. In turpis. Nunc tempus hendrerit mi. In cursus, turpis sed tincidunt ultrices, eros urna ullamcorper lacus, quis faucibus libero risus sit amet libero. In hac habitasse platea dictumst. Phasellus tincidunt, sapien eget tempor varius, ligula sapien condimentum mi, vitae porta quam libero eget lacus. Suspendisse in mi in ligula rhoncus semper. Aenean purus. Nulla facilisi. Integer nec augue. Integer sapien lacus, mattis at, pretium sed, gravida quis, enim. Vestibulum bibendum erat in mi. Suspendisse purus. Sed pretium massa nec risus.</p>

<p>Donec justo. Quisque neque. Aliquam condimentum. Nulla sit amet risus. Quisque venenatis pharetra turpis. Nulla imperdiet mi vitae est porttitor rutrum. Cras pulvinar lobortis lorem. Nulla accumsan, justo ac luctus malesuada, eros ligula iaculis lacus, quis pretium nunc massa quis sem. Cras mattis laoreet metus. Integer posuere magna vitae tellus. Vivamus massa turpis, consequat at, accumsan nec, egestas vehicula, ipsum. Vivamus quis diam non urna pulvinar placerat. Sed convallis. Donec libero purus, blandit ut, fringilla a, interdum ac, lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque ornare, metus eu vestibulum vehicula, sem tortor porta arcu, nec interdum tortor sapien imperdiet augue. In facilisis enim ac metus. Duis augue. Duis sapien risus, rutrum eu, suscipit nec, mattis eu, enim. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

<p>Quisque commodo posuere est. Sed et felis. Sed auctor. Fusce eget sapien. Sed vel justo a purus malesuada tempus. In varius consequat justo. Donec bibendum sodales lacus. Fusce vestibulum. Aliquam mauris velit, pellentesque at, accumsan ac, tempus ac, velit. Duis a lacus nec orci tempus pretium. Nullam vel tellus et sapien semper porta. Ut id lectus non purus vulputate auctor. Vestibulum fringilla nibh et urna. Nunc rhoncus, ipsum et lacinia pharetra, enim ante tincidunt magna, lobortis suscipit ipsum lorem sed diam. Pellentesque nisl neque, lobortis eu, sodales in, molestie ac, lorem. Aenean dictum condimentum elit. Morbi nec mi. Aliquam erat volutpat. In lectus pede, fermentum eu, egestas at, molestie ac, dolor.</p>

<p>Curabitur at neque. Integer ipsum felis, vestibulum sed, fermentum vel, fringilla sed, enim. Etiam diam ipsum, ornare eget, eleifend non, facilisis in, mauris. Fusce vestibulum, urna mattis malesuada sodales, sapien eros tristique mauris, vel feugiat ante nisl vitae nibh. Phasellus sagittis. Integer tortor diam, pharetra sit amet, placerat quis, interdum ultrices, nunc. Mauris pharetra enim malesuada orci. Nullam ante. Maecenas eu velit tincidunt elit facilisis rutrum. Nullam tincidunt dignissim tortor. Integer fringilla, tellus id fringilla dictum, risus turpis ultrices ante, sed lacinia felis lectus sit amet lacus. Mauris turpis lacus, accumsan non, sollicitudin sit amet, accumsan id, arcu. Nunc tincidunt dui id dolor. Nullam enim erat, ornare et, tempor eget, vehicula eget, libero. Sed sed pede et metus posuere dignissim.</p>

<p>Donec ac enim. Pellentesque mattis dui laoreet ipsum. Aenean aliquet sodales magna. Ut vel tellus. Nulla laoreet euismod sapien. Nam pharetra. Sed lorem mi, blandit a, suscipit in, condimentum sed, neque. Sed a ipsum nec ligula pellentesque hendrerit. Donec ac est. Nullam nec neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>

</div>

<div id="sidebar">
<p>In This Issue</p>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>

<div class="article">
<div class="article-thumb"><img src="/site_media/images/gray.png" width="75" height="75" /></div>
<h2>Headline</h2>
<p>Author</p>
<div class="clear"></div>
</div>


<div id="clear"></div>
</div>
</div>
{% endblock %}
