{% extends "base.html" %}
{% load markup %}
{% load thumbnail %}

{% block title %}Roster{% endblock %}
{% block bodyclass %}roster{% endblock %}
{% block masthead %}roster{% endblock %}
{% block content %}

{% for author in authors %}
<div class="author-thumb" id="author-{{ author.id }}">
<a href="#author-{{ author.id }}"><img src="{% thumbnail author.headshot 65x65 crop,bw %}" 
     
     width="65"
     height="65" 
     alt="{{author.fullname}}" border="0"/></a>

</div>

{% endfor %}


<div class="clear"></div>
{% endblock %}
